<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Eretail.FrameworkEretail.listners.RetryListeners"></listener>

	</listeners>
	  <test thread-count="5" name="Test">
    <classes>
      <class name="Eretail.FrameworkEretail.tests.EretailLogin"/>
      <class name="Eretail.FrameworkEretail.tests.dummy1"/>
      <!-- class name="Eretail.FrameworkEretail.tests.Pom_Retry_Analyser"/-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
