<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<groups>
<run>
<include name ="smoke_test"/>
<include name ="sanity_test"/>
</run>
</groups>
  <test thread-count="5" name="Test">
    <classes>
      <class name="annotationPractice.B"/>
      <class name="annotationPractice.A"/>
      <class name="annotationPractice1.D"/>
      <class name="annotationPractice1.C"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
