<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" allow-return-values="true">
  <test thread-count="5" name="Test">
  <!-- <groups>
            <run>
                <include name="QA"></include>
            </run>
        </groups> -->
    <classes>
      <class name="test_Crud_Integration.Integration"/>
      <!-- <methods>
                <include name="test_update_request_put"></include>
                <include name="test_update_request_get"></include>
                <include name="test_delete_booking"></include>
                <include name="test_after_delete_booking"></include>
            </methods> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
