<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="EretailRest.EretailAPI.modules.PayloadManager"/>
      <class name="EretailRest.EretailAPI.tests.crud.VerifyOrderProcessApi"/>
      <class name="EretailRest.EretailAPI.base.BaseTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
